@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
  font-weight: bold;
  font-size: 20px;
}

.App {
  display: flex;
  justify-content: center;
}

.active {
  border-bottom: solid 4px #7DC2A5;
}

main {
  display: flex;
  justify-content: center;
  background-color: #7DC2A54A;
  width: 70vw;
}

.postCard {
  border-radius: 10px;
  background-color: white;
  padding: 30px;
  margin: 10px;
}

.navBar {
  background-color: #fffdfdf0;
  position: sticky;
  top:50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: max-content;
}

.logo {
  width: 60px;
}

.message {
  padding: 10px 15px 10px 15px;
  border-radius: 20px;
  background-color: white;
  margin: 10px;
  width: 60%;
}

.sent {
  border-bottom-right-radius: 4px;
  align-self: flex-end;
}

.received {
  border-bottom-left-radius: 4px;
  align-self: flex-start;

}

.listMessage {
  display: flex;
  flex-direction: column;
}

.inputMessage {
  width: 100%;
  padding: 10px 15px 10px 15px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.inputMessage:focus {
  outline: none;
}

.buttonSend {
  padding: 10px 15px 10px 15px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  background: white;
}

header {
  padding: 30px;
  background-color: #fffdfdf0;
  position: sticky;
  top: 0;
  text-align: center;
}